# Unsupervised Learning

**Ejemplos:** (Cuando no hay etiquetas)

+ Segmentación de clientes
+ Segmentación de productos
+ One-person segment (lo que funciona bien en un grupo no funciona necesariamente en otro)
+ Agrupación según características

**Escenario**

Cada elemento (usuario, cliente, producto..) puede ser considerado un vector. Dado un paquete de vectores se distribuyen por clusters. Vectores similares estarán en el mismo cluster, y clusters similares estarán más 'cerca' entre si que los que son más diferentes.

Todo éste proceder asume la existencia de una métrica de distancia, así se puede medir dicha distancia entre vectores dentro del espacio vectorial.

**Pasos para aplicar USL:**

+ **1**: Representación vectorial
+ **2**: Métrica, función de distancia
+ **3**: Medida de similitud

Cuando se crea un cluster, el vector en el centro del cluster (centroide) se considera el prototipo o el más representativo del cluster.


**Problemas tratables por USL:**

+ Segmentación de mercado
+ Detección de fraude en seguros o banca
+ Respuesta a tratamientos médicos
+ Detección de outliers

**Ejemplos de modelos:**

+ K-Means
+ Hierarchical Clustering
+ DBSCAN
+ HDBSCAN
+ GMM

# K-Means


El más viejo y el más popular. La idea es seleccionar previamente cuantos clusters se desean ($k$). Se seleccionan los puntos centrales del cluster (centroides) de manera aleatoria. Para cada nuevo registro se reasigna un cluster y se recalcula el centroide (media). Se itera el proceso hasta que no haya cambio en la clusterización.

![](data/kmeans.png)

![](data/kmeans2.png)

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('svg')

import pandas as pd
import numpy as np

In [2]:
census=pd.read_csv('data/acs2015_county_data.csv')

census=census.dropna()

census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [3]:
cols=[c for c in census.columns.values if c not in ['CensusId', 'State', 'County']]

In [4]:
# K-Means

from sklearn.cluster import KMeans

In [5]:
kmeans=KMeans(n_clusters=4)

In [6]:
clusters=kmeans.fit(census[cols])  # entrenamiento con columnas seleccionadas

In [7]:
len(clusters.cluster_centers_)

4

In [8]:
clusters.cluster_centers_

array([[4.91636213e+04, 2.43276000e+04, 2.48360213e+04, 1.05735632e+01,
        7.64456486e+01, 8.37155993e+00, 1.79891626e+00, 9.33431856e-01,
        6.59113300e-02, 3.63820558e+04, 4.52640923e+04, 2.96395468e+03,
        2.35384269e+04, 1.41439048e+03, 1.76698851e+01, 2.44180296e+01,
        3.05360263e+01, 1.83735304e+01, 2.20772085e+01, 1.29872250e+01,
        1.60262726e+01, 7.94217077e+01, 1.03420033e+01, 6.63908046e-01,
        3.34440066e+00, 1.59431856e+00, 4.63448276e+00, 2.30822660e+01,
        2.17587507e+04, 7.38585878e+01, 1.77766174e+01, 8.06781609e+00,
        2.96748768e-01, 8.08042693e+00],
       [2.59497053e+06, 1.27467168e+06, 1.32029884e+06, 3.28736842e+01,
        3.98684211e+01, 1.44368421e+01, 3.31578947e-01, 9.75789474e+00,
        1.89473684e-01, 1.65020984e+06, 5.85898947e+04, 4.97473684e+02,
        3.08353158e+04, 2.48105263e+02, 1.68368421e+01, 2.35842105e+01,
        3.71842105e+01, 1.95105263e+01, 2.45473684e+01, 8.02631579e+00,
        1.07368421e+01, 6.73736842e+01, 9.48947368e+00, 1.28210526e+01,
        3.63684211e+00, 2.17894737e+00, 4.51052632e+00, 2.92157895e+01,
        1.20507611e+06, 8.17000000e+01, 1.18947368e+01, 6.28421053e+00,
        1.36842105e-01, 9.23157895e+00],
       [1.00383880e+07, 4.94535100e+06, 5.09303700e+06, 4.82000000e+01,
        2.69000000e+01, 8.00000000e+00, 2.00000000e-01, 1.40000000e+01,
        2.00000000e-01, 6.04674900e+06, 5.61960000e+04, 2.70000000e+02,
        2.83370000e+04, 1.13000000e+02, 1.82000000e+01, 2.58000000e+01,
        3.57000000e+01, 1.91000000e+01, 2.46000000e+01, 7.80000000e+00,
        1.28000000e+01, 7.30000000e+01, 9.90000000e+00, 6.80000000e+00,
        2.80000000e+00, 2.30000000e+00, 5.10000000e+00, 3.00000000e+01,
        4.63546500e+06, 7.90000000e+01, 1.15000000e+01, 9.40000000e+00,
        2.00000000e-01, 1.00000000e+01],
       [7.25829000e+05, 3.54289993e+05, 3.71539007e+05, 1.66542484e+01,
        6.03967320e+01, 1.39163399e+01, 3.44444444e-01, 5.84771242e+00,
        1.73856209e-01, 5.03311484e+05, 6.16159020e+04, 8.53267974e+02,
        3.17643203e+04, 3.96555556e+02, 1.39954248e+01, 1.96810458e+01,
        3.92908497e+01, 1.75960784e+01, 2.46052288e+01, 7.99673203e+00,
        1.05111111e+01, 7.63058824e+01, 9.13202614e+00, 5.60326797e+00,
        2.59934641e+00, 1.82810458e+00, 4.52549020e+00, 2.64862745e+01,
        3.46560105e+05, 8.07816993e+01, 1.36418301e+01, 5.44183007e+00,
        1.39215686e-01, 8.22679739e+00]])

In [11]:
preds=clusters.fit_predict(census[cols])
preds[10:50]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0], dtype=int32)

In [13]:
distancias=clusters.fit_transform(census[cols])

len(distancias)

3218

In [14]:
census[cols].shape

(3218, 34)

In [16]:
distancias[0]

array([1.15570684e+04, 3.69620918e+06, 9.80336060e+05, 1.43820788e+07])

In [17]:
distancias[np.where(preds==1)[0]]  # distancias para cluster 1

array([[ 5810320.38812675,  2106406.00976323,  4820695.36528671,
         8588496.98197191],
       [ 4476102.6537771 ,   772570.30820241,  3487047.05948377,
         9917118.44212282],
       [ 3214872.20101582,   513144.88932824,  2227802.42053226,
        11180977.9607949 ],
       [ 2917583.7319852 ,   803143.61151026,  1931074.32185437,
        11478171.47094131],
       [ 4650395.08966534,   949401.92658742,  3660815.51446326,
         9747031.09016275],
       [ 2639780.96926729,  1071684.93830065,  1652317.06398755,
        11753365.28587231],
       [ 2638751.07205886,  1068460.78265703,  1649246.11696707,
        11754836.98165016],
       [ 3698090.03048671,   142440.43241204,  2711662.69855657,
        10694584.7804203 ],
       [ 7638429.78822233,  3934192.92636933,  6648592.96931615,
         6766975.69819643],
       [ 2552577.53351075,  1178691.48062282,  1566122.04392865,
        11853030.30945281],
       [ 2896092.11175083,   811324.81306603,  1906916.11712856,
        11497340.39330611],
       [ 3674446.23633682,    90047.04032343,  2686172.70125791,
        10718559.38503944],
       [ 2399286.57048973,  1321620.17850686,  1410855.33953046,
        12001979.08062047],
       [ 3249793.55253301,   468570.83127775,  2262482.97835578,
        11142573.5974659 ],
       [ 2600881.4124259 ,  1106862.78904781,  1611394.38184193,
        11793283.22510292],
       [ 3496474.32744744,   256463.51530849,  2510180.71890551,
        10896520.35175075],
       [ 6174624.30715335,  2477104.8577661 ,  5187930.96349864,
         8220309.33559581],
       [ 2727572.35754429,   979151.11772729,  1738525.95452724,
        11665100.38549198],
       [ 3000730.75231106,   724533.29130056,  2011484.52919948,
        11398884.04900099]])

In [18]:
census['cluster']=preds
census.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,cluster
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,0
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,0
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,0
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,0
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,0

In [19]:
census.cluster.unique()

array([0, 3, 1, 2])

In [20]:
census[census.cluster==1] # datos del cluster 1

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,cluster
103,4013,Arizona,Maricopa,4018143,1986158,2031985,30.1,57.3,4.9,1.6,...,2.6,5.9,25.5,1821038,82.5,11.7,5.7,0.2,7.7,1
215,6059,California,Orange,3116069,1539600,1576469,34.2,42.4,1.5,0.2,...,2.1,5.2,26.8,1508753,81.8,10.2,7.8,0.2,7.6,1
218,6065,California,Riverside,2298032,1143477,1154555,47.0,37.8,5.9,0.4,...,1.6,5.2,32.4,920603,77.1,14.9,7.8,0.2,12.9,1
221,6071,California,San Bernardino,2094769,1042053,1052716,51.1,31.2,8.1,0.4,...,1.2,4.2,30.4,829145,76.4,16.7,6.7,0.2,12.6,1
222,6073,California,San Diego,3223096,1618945,1604151,32.9,47.0,4.7,0.4,...,2.0,6.8,25.0,1462130,77.3,14.8,7.7,0.2,8.7,1
228,6085,California,Santa Clara,1868149,939004,929145,26.6,33.6,2.4,0.2,...,3.2,4.6,26.3,915619,84.3,9.3,6.4,0.1,7.7,1
325,12011,Florida,Broward,1843152,894820,948332,27.0,40.4,26.9,0.2,...,2.0,4.9,27.8,890997,82.2,11.3,6.4,0.1,10.0,1
362,12086,Florida,Miami-Dade,2639042,1280221,1358821,65.6,15.1,16.8,0.1,...,1.9,4.3,29.9,1204871,81.9,10.2,7.7,0.2,10.0,1
610,17031,Illinois,Cook,5236393,2537245,2699148,24.7,43.1,23.7,0.1,...,2.2,4.2,32.3,2463655,83.9,11.5,4.5,0.1,10.7,1
1312,26163,Michigan,Wayne,1778969,855112,923857,5.5,49.8,39.2,0.3,...,1.5,2.8,25.1,696900,86.1,10.0,3.8,0.1,14.9,1
1748,32003,Nevada,Clark,2035572,1019927,1015645,30.0,45.8,10.4,0.4,...,2.2,3.1,24.4,923588,84.5,10.7,4.8,0.1,10.8,1
1851,36047,New York,Kings,2595259,1229001,1366258,19.6,35.7,31.2,0.2,...,2.5,3.9,41.7,1167448,79.1,14.4,6.5,0.1,10.0,1
1858,36061,New York,New York,1629507,769434,860073,25.8,47.1,12.7,0.1,...,5.4,6.8,31.1,884457,83.6,8.5,7.8,0.1,7.5,1
1868,36081,New York,Queens,2301139,1115459,1185680,27.9,26.1,17.4,0.2,...,1.5,2.4,42.6,1104930,79.9,13.6,6.4,0.1,8.6,1
2537,48029,Texas,Bexar,1825502,897690,927812,59.1,29.3,7.1,0.2,...,1.2,4.0,24.5,824123,79.6,14.8,5.6,0.1,7.4,1
2579,48113,Texas,Dallas,2485003,1225722,1259281,39.0,31.5,21.8,0.2,...,2.1,4.1,26.5,1191958,83.9,9.5,6.4,0.1,7.6,1
2623,48201,Texas,Harris,4356362,2166727,2189635,41.6,31.7,18.5,0.2,...,2.0,3.3,28.2,2081889,83.4,10.1,6.3,0.1,7.5,1
2742,48439,Texas,Tarrant,1914526,937266,977260,27.6,49.8,15.1,0.3,...,1.4,3.9,26.5,924741,83.1,11.4,5.4,0.1,6.9,1
2969,53033,Washington,King,2045756,1020901,1024855,9.3,62.8,6.0,0.6,...,2.8,6.1,28.1,1079601,81.7,12.4,5.7,0.2,6.3,1

In [21]:
census[census.cluster==3] # datos del cluster 3

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,cluster
36,1073,Alabama,Jefferson,659026,311581,347445,3.8,51.0,42.2,0.2,...,1.0,2.5,23.6,293202,80.9,14.4,4.6,0.2,9.1,3
48,1097,Alabama,Mobile,414251,198216,216035,2.6,58.1,35.0,0.6,...,0.8,3.7,24.4,170900,81.4,13.8,4.6,0.1,9.8,3
106,4019,Arizona,Pima,998537,491108,507429,35.7,53.7,3.3,2.4,...,3.7,4.6,24.4,422371,74.9,18.3,6.6,0.2,10.0,3
170,5119,Arkansas,Pulaski,390463,187292,203171,5.9,54.2,35.4,0.3,...,1.1,2.9,20.3,180430,74.6,20.6,4.7,0.2,7.5,3
186,6001,California,Alameda,1584983,776699,808284,22.6,33.0,11.3,0.3,...,3.5,5.6,30.7,778132,78.7,13.8,7.4,0.1,8.3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,53061,Washington,Snohomish,746653,374847,371806,9.5,72.5,2.5,0.9,...,1.6,5.1,30.6,367655,81.6,12.7,5.5,0.2,7.5,3
2984,53063,Washington,Spokane,480832,238241,242591,5.1,85.7,1.7,1.3,...,1.6,5.4,21.2,211522,78.4,15.5,6.0,0.2,8.4,3
3059,55025,Wisconsin,Dane,510198,252850,257348,6.2,80.8,5.0,0.2,...,3.5,4.6,21.0,287151,74.2,21.1,4.5,0.1,4.9,3
3087,55079,Wisconsin,Milwaukee,955939,461804,494135,14.0,53.2,26.1,0.5,...,1.5,3.0,22.5,445174,84.8,11.7,3.4,0.1,9.3,3
3114,55133,Wisconsin,Waukesha,393873,193441,200432,4.5,89.6,1.4,0.1,...,0.9,4.2,24.0,209461,87.4,8.3,4.2,0.1,4.2,3

In [27]:
census[census.cluster==2].State.value_counts()

California    1
Name: State, dtype: int64

In [28]:
census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3218 entries, 0 to 3219
Data columns (total 38 columns):
CensusId           3218 non-null int64
State              3218 non-null object
County             3218 non-null object
TotalPop           3218 non-null int64
Men                3218 non-null int64
Women              3218 non-null int64
Hispanic           3218 non-null float64
White              3218 non-null float64
Black              3218 non-null float64
Native             3218 non-null float64
Asian              3218 non-null float64
Pacific            3218 non-null float64
Citizen            3218 non-null int64
Income             3218 non-null float64
IncomeErr          3218 non-null float64
IncomePerCap       3218 non-null int64
IncomePerCapErr    3218 non-null int64
Poverty            3218 non-null float64
ChildPoverty       3218 non-null float64
Professional       3218 non-null float64
Service            3218 non-null float64
Office             3218 non-null float64
Construction       3218 non-null float64
Production         3218 non-null float64
Drive              3218 non-null float64
Carpool            3218 non-null float64
Transit            3218 non-null float64
Walk               3218 non-null float64
OtherTransp        3218 non-null float64
WorkAtHome         3218 non-null float64
MeanCommute        3218 non-null float64
Employed           3218 non-null int64
PrivateWork        3218 non-null float64
PublicWork         3218 non-null float64
SelfEmployed       3218 non-null float64
FamilyWork         3218 non-null float64
Unemployment       3218 non-null float64
cluster            3218 non-null int32
dtypes: float64(27), int32(1), int64(8), object(2)
memory usage: 967.9+ KB

In [29]:
census.groupby(['cluster'])['Income'].mean() # media de ingreso por cluster

cluster
0    45258.590132
1    58589.894737
2    56196.000000
3    61204.303797
Name: Income, dtype: float64

In [31]:
census.groupby(['cluster'])['TotalPop'].mean() # media de poblacion por cluster

cluster
0    4.861377e+04
1    2.594971e+06
2    1.003839e+07
3    7.149950e+05
Name: TotalPop, dtype: float64

In [32]:
census.groupby(['cluster'])['SelfEmployed'].mean()  # media de autoempleo por cluster

cluster
0    8.070987
1    6.284211
2    9.400000
3    5.463924
Name: SelfEmployed, dtype: float64

In [33]:
census.groupby(['cluster'])['Employed'].mean()  # media de empleo por cluster

cluster
0    2.150655e+04
1    1.205076e+06
2    4.635465e+06
3    3.411340e+05
Name: Employed, dtype: float64

# Hierarchical Clustering (Dendrograma)

La mejora sobre K-Means es fundamentalmente que no hay que asumir el número de clusters.

Hay dos maneras de atacar éste problema:

+ Por aglomeración
+ Por división

**Aglomeración:**

Se empieza asumiendo que cada registro es un cluster individual y se van combinando aquellos similares hasta conseguir un solo cluster, la población entera. Después se decide el número óptimo de clusters según la distancia.

**División:**

El proceso inverso. Se comienza con un solo cluster y se va dividiendo hasta tener el número óptimo de clusters (según distancia).


![](data/hca.png)

##### Medidas de distancia

Aquí también entra la distancia, para medir entre registros/clusters. Normalmente, se usa la distancia euclídea. El uso de la métrica de distancia depende del problema en cuestión, por ejemplo, en una clusterización de lugares en la ciudad, podría ser mejor usar $cityblock$, o incluso tomar el tiempo que hay entre dos lugares (tiempo como métrica de distancia).

##### Criterios de conexión (linkage criteria)

Después de seleccionar la métrica de distancia, hay que decidir de qué manera se conectan los registros al cluster. Puede ser:

+ Single-linkage: conexión entre los puntos más parecidos del cluster.
+ Complete-linkage: conexión entre los puntos menos parecidos del cluster.
+ Single-linkage: conexión entre los centroides del cluster.


![](data/link.png)

Al igual que la métrica de distancia, la elección del criterio de conexión ha de basarse en el propio problema. Por ejemplo, para clasificar varias tecnologías diferentes tendría sentido basarse en cuales son más parecidos. Si no existen justificaciones claras de cual usar, se suele usar el criterio de Ward, que viene a ser mínimos cuadrados de las distancias, respecto de la media del cluster. Esto concuerda con el concepto de distancia entre grupos en estadística (ANOVA, MANOVA....)

https://es.wikipedia.org/wiki/M%C3%A9todo_de_Ward