# Función Lambda (función anónima)

In [1]:
def suma(a,b):
    return a+b

In [2]:
suma(6, 90)

96

In [3]:
suma2=lambda a,b : a+b

In [4]:
suma2(6, 90)

96

In [5]:
type(suma2)

function

In [6]:
def suma33(a, b=10):
    return a+b

In [7]:
suma33(2)

12

In [15]:
suma33(2, 90)

92

In [8]:
suma3=lambda a, b=10 : a+b

In [9]:
suma3(2)

12

In [10]:
suma3(2, 90)

92

In [11]:
lst=[1,2,3,4,5,6]

q=[(lambda x: x**2)(e) for e in lst]

q

[1, 4, 9, 16, 25, 36]

In [12]:
def cuad(x):
    return x**2

In [13]:
q=[cuad(e) for e in lst]

q

[1, 4, 9, 16, 25, 36]

In [14]:
(lambda a, b : a*b+2)(10, 30)

302

# Map (mathematical application)

In [16]:
# map(funcion , iterable)

In [17]:
map(lambda x: x**2, lst)

In [18]:
list(map(lambda x: x**2, lst))

[1, 4, 9, 16, 25, 36]

In [19]:
for e in map(lambda x: x**2, lst):
    print (e)

1
4
9
16
25
36

In [20]:
list(map(cuad, lst))

[1, 4, 9, 16, 25, 36]

In [28]:
a=[1,2,3,4]
b=[5,6,7,8] 
c=[10, 20, 30, 40]


list(map(lambda x,y,z: x*y*z, a, b, c))

[50, 240, 630, 1280]

In [27]:
a=[1,2,3,4]
b=[5,6,7,8] 
c=[10, 20, 30, 40, 10]


list(map(lambda x,y,z,w: x*y*z+w, a, b, c, c))

[60, 260, 660, 1320]