# Scavengers chapter-1

In [1]:
with open('token.txt', 'r') as f:
    acceso=f.readlines()[0].split('=')

user=acceso[0]
key=acceso[1].rstrip('\n')

In [ ]:
# https://developer.github.com/v3/guides/

In [4]:
import json
import requests
import pandas as pd
import time

In [13]:
repo='ironhack-datalabs/madrid-oct-2018'

get_forks='http://api.github.com/repos/'+repo+'/forks'

In [14]:
res_forks=requests.get(get_forks, auth=(user, key))

res=res_forks.json()

In [15]:
res[0].keys()

dict_keys(['id', 'node_id', 'name', 'full_name', 'private', 'owner', 'html_url', 'description', 'fork', 'url', 'forks_url', 'keys_url', 'collaborators_url', 'teams_url', 'hooks_url', 'issue_events_url', 'events_url', 'assignees_url', 'branches_url', 'tags_url', 'blobs_url', 'git_tags_url', 'git_refs_url', 'trees_url', 'statuses_url', 'languages_url', 'stargazers_url', 'contributors_url', 'subscribers_url', 'subscription_url', 'commits_url', 'git_commits_url', 'comments_url', 'issue_comment_url', 'contents_url', 'compare_url', 'merges_url', 'archive_url', 'downloads_url', 'issues_url', 'pulls_url', 'milestones_url', 'notifications_url', 'labels_url', 'releases_url', 'deployments_url', 'created_at', 'updated_at', 'pushed_at', 'git_url', 'ssh_url', 'clone_url', 'svn_url', 'homepage', 'size', 'stargazers_count', 'watchers_count', 'language', 'has_issues', 'has_projects', 'has_downloads', 'has_wiki', 'has_pages', 'forks_count', 'mirror_url', 'archived', 'disabled', 'open_issues_count', 'license', 'forks', 'open_issues', 'watchers', 'default_branch', 'permissions'])

In [16]:
lenguajes=set()

for i in range(len(res)):
    lenguajes.add(res[i]['language'])
    
lenguajes

{'HTML', 'Jupyter Notebook', None}

In [17]:
lenguajes=[]

for i in range(len(res)):
    lenguajes.append(res[i]['language'])
    
set(lenguajes)

{'HTML', 'Jupyter Notebook', None}

# scavengers chapter 2

In [24]:
repo='YonatanRA/clases_datamex0320'

desde='2020-03-27T00:00:00Z'
hasta='2020-04-06T23:59:59Z'

In [25]:
get_commits='http://api.github.com/repos/{}/commits?since={}&until={}'.format(repo, desde, hasta)

In [26]:
res_commit=requests.get(get_commits, auth=(user, key))

res=res_commit.json()

In [30]:
commit=[]

for i in range(len(res)):
    commit.append(res[i]['commit'])
    
len(commit)

30

# scavengers chapter 3 V1

In [32]:
repo='ironhack-datalabs/scavenger'

In [33]:
get_repo='http://api.github.com/repos/{}/git/trees/master?recursive=1'.format(repo)

In [34]:
get_repo=requests.get(get_repo, auth=(user, key))

res=get_repo.json()

In [44]:
res['tree'][7]['path']

'15534/.0008.scavengerhunt'

In [45]:
url='https://api.github.com/repos/ironhack-datalabs/scavenger/contents/'

tree=res['tree']

In [48]:
archivos=[]

for i in range(len(tree)):
    if tree[i]['type']=='blob' and 'scavengerhunt' in tree[i]['path']:
        # obtengo el path y el contenido del archivo
        get_contenido=requests.get(url + tree[i]['path'], auth=(user, key))
        contenido=get_contenido.json()
        archivos.append((contenido['name'], contenido['content']))
        time.sleep(1)
        
archivos

[('.0006.scavengerhunt', 'b2YK\n'),
 ('.0008.scavengerhunt', 'c3BlbnQK\n'),
 ('.0012.scavengerhunt', 'MjAK\n'),
 ('.0007.scavengerhunt', 'dGltZQo=\n'),
 ('.0021.scavengerhunt', 'bmVlZAo=\n'),
 ('.0022.scavengerhunt', 'dG8K\n'),
 ('.0005.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0018.scavengerhunt', 'Y29tcGxhaW5pbmcK\n'),
 ('.0016.scavengerhunt', 'aXMK\n'),
 ('.0024.scavengerhunt', 'ZGF0YS4K\n'),
 ('.0010.scavengerhunt', 'cHJlcGFyaW5nCg==\n'),
 ('.0014.scavengerhunt', 'b2YK\n'),
 ('.0011.scavengerhunt', 'ZGF0YSwK\n'),
 ('.0023.scavengerhunt', 'cHJlcGFyZQo=\n'),
 ('.0020.scavengerhunt', 'dGhlCg==\n'),
 ('.0003.scavengerhunt', 'c2NpZW5jZSwK\n'),
 ('.0004.scavengerhunt', 'ODAK\n'),
 ('.0019.scavengerhunt', 'YWJvdXQK\n'),
 ('.0017.scavengerhunt', 'c3BlbnQK\n'),
 ('.0002.scavengerhunt', 'ZGF0YQo=\n'),
 ('.0013.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0015.scavengerhunt', 'dGltZQo=\n'),
 ('.0009.scavengerhunt', 'aXMK\n'),
 ('.0001.scavengerhunt', 'SW4K\n')]

In [50]:
archivos.sort()

archivos

[('.0001.scavengerhunt', 'SW4K\n'),
 ('.0002.scavengerhunt', 'ZGF0YQo=\n'),
 ('.0003.scavengerhunt', 'c2NpZW5jZSwK\n'),
 ('.0004.scavengerhunt', 'ODAK\n'),
 ('.0005.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0006.scavengerhunt', 'b2YK\n'),
 ('.0007.scavengerhunt', 'dGltZQo=\n'),
 ('.0008.scavengerhunt', 'c3BlbnQK\n'),
 ('.0009.scavengerhunt', 'aXMK\n'),
 ('.0010.scavengerhunt', 'cHJlcGFyaW5nCg==\n'),
 ('.0011.scavengerhunt', 'ZGF0YSwK\n'),
 ('.0012.scavengerhunt', 'MjAK\n'),
 ('.0013.scavengerhunt', 'cGVyY2VudAo=\n'),
 ('.0014.scavengerhunt', 'b2YK\n'),
 ('.0015.scavengerhunt', 'dGltZQo=\n'),
 ('.0016.scavengerhunt', 'aXMK\n'),
 ('.0017.scavengerhunt', 'c3BlbnQK\n'),
 ('.0018.scavengerhunt', 'Y29tcGxhaW5pbmcK\n'),
 ('.0019.scavengerhunt', 'YWJvdXQK\n'),
 ('.0020.scavengerhunt', 'dGhlCg==\n'),
 ('.0021.scavengerhunt', 'bmVlZAo=\n'),
 ('.0022.scavengerhunt', 'dG8K\n'),
 ('.0023.scavengerhunt', 'cHJlcGFyZQo=\n'),
 ('.0024.scavengerhunt', 'ZGF0YS4K\n')]

In [51]:
import base64

frase=''

for texto in archivos:
    frase+=str(base64.b64decode(texto[1]))
    
# La frase buscada es....

frase=frase.replace('b\'', '').replace('\\n\'', ' ')

frase

'In data science, 80 percent of time spent is preparing data, 20 percent of time is spent complaining about the need to prepare data. '

# scavengers chater 3 V2

In [52]:
def get_auth(url, headers={'Authorization': 'token {}'.format(key)}):
    baseURL='https://api.github.com{}'.format(url)
    res=requests.get(baseURL, headers=headers, auth=(user, key))
    return res.json()

In [53]:
data=get_auth('/search/code?q=extension:.scavengerhunt repo:ironhack-datalabs/scavenger')

In [57]:
data['items'][0]['name']

'.0006.scavengerhunt'

In [58]:
files=[(e['name'], e['path']) for e in data['items']]

files[2]

('.0008.scavengerhunt', '15534/.0008.scavengerhunt')

In [59]:
formated=[(e[0], 'https://githubusercontent.com/ironhack-datalabs/scavenger/master/{}'.format(e[1])) for e in files]

In [61]:
formated[0]

('.0006.scavengerhunt',
 'https://githubusercontent.com/ironhack-datalabs/scavenger/master/15024/.0006.scavengerhunt')

In [63]:
urls=[e[1] for e in sorted(formated, key=lambda x: x[0])]

In [65]:
urls[0]

'https://githubusercontent.com/ironhack-datalabs/scavenger/master/98750/.0001.scavengerhunt'

In [68]:
#lst=[requests.get(e, auth=(user, key)).text for e in urls]

In [69]:
#' '.join(lst)

In [70]:
# ya no se puede asi

# Web Scraping

### Ejemplo reuters

In [71]:
import requests

In [72]:
url='https://www.reuters.com/article/us-shazam-m-a-apple-eu/apple-completes-deal-to-buy-shazam-idUSKCN1M4202'

In [75]:
html=requests.get(url).content   # contenido
p=html[:600].decode()            # de binario a str
p.encode()

b'<!--[if !IE]> This has NOT been served from cache <![endif]-->\n<!--[if !IE]> Request served from apache server: prodie--i-0f6be8944140a23ce <![endif]-->\n<!--[if !IE]> token: db756ecc-3542-47c3-8ea9-07216bbb08e6 <![endif]-->\n<!--[if !IE]> App Server /prodie--i-0f6be8944140a23ce/ <![endif]-->\n\n<!doctype html><html lang="en" data-edition="BETAUS">\n    <head>\n\n    <title>\n                Apple completes deal to buy Shazam - Reuters</title>\n        <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8"><meta http-equiv="x-dns-prefetch-control" content="on"><link rel="dns-prefetc'

In [77]:
!pip3 install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/data/Library/Python/3.7/lib/python/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /Users/data/Library/Python/3.7/lib/python/site-packages (from beautifulsoup4) (1.9.3)

In [78]:
from bs4 import BeautifulSoup as bs

In [80]:
soup=bs(html, 'lxml')
# soup

In [81]:
type(soup)

bs4.BeautifulSoup

In [82]:
tags=['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'p']

In [86]:
text=[e.text for e in soup.find_all(tags)]

text

['Apple completes deal to buy Shazam',
 '1 Min Read',
 '(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. ',
 'The deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. ',
 'Reporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar',
 'All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.',
 '© 2020 Reuters. All Rights Reserved.']

In [87]:
type(text[0])

str

In [88]:
'\n'.join(text)

'Apple completes deal to buy Shazam\n1 Min Read\n(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. \nThe deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. \nReporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar\nAll quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays.\n© 2020 Reuters. All Rights Reserved.'

In [89]:
'_'.join(text)

'Apple completes deal to buy Shazam_1 Min Read_(Reuters) - Apple Inc has completed the acquisition of music discovery app Shazam, it said on Monday, weeks after the European Union approved the deal. _The deal, announced in December last year, is expected to help the iPhone maker better compete with Spotify, the industry leader in music streaming services. _Reporting by Sonam Rai in Bengaluru; Editing by Sai Sachin Ravikumar_All quotes delayed a minimum of 15 minutes. See here for a complete list of exchanges and delays._© 2020 Reuters. All Rights Reserved.'

### ejemplo wikipedia

In [90]:
url='https://en.wikipedia.org/wiki/List_of_European_countries_by_life_expectancy'

In [92]:
html=requests.get(url).content 
soup=bs(html, 'lxml')
#soup

In [104]:
table=soup.find_all('table', {'class':'sortable wikitable'})[0]  # primera y unica tabla
type(table)

bs4.element.Tag

In [106]:
rows=table.find_all('tr')
rows=[r.text.strip().split('\n') for r in rows]
print (rows[:3])
final=[]
for e in rows:
    tmp=[]
    for st in e:
        if st!='':
            tmp.append(st)
    final.append(tmp)
    
final[:3]

[['Rank', '', 'Country', 'Life expectancy[1]'], ['1', '', '\xa0Monaco[2]', '', '89.4'], ['2', '', '\xa0San Marino[3]', '', '83.4']]

[['Rank', 'Country', 'Life expectancy[1]'],
 ['1', '\xa0Monaco[2]', '89.4'],
 ['2', '\xa0San Marino[3]', '83.4']]

In [108]:
import pandas as pd

col_names=final[0]
data=final[1:]

df=pd.DataFrame(data, columns=col_names)
df

   Rank                  Country Life expectancy[1]
0     1                Monaco[2]               89.4
1     2            San Marino[3]               83.4
2     3              Switzerland               83.0
3     4                    Spain               82.8
4     5            Liechtenstein               82.7
5     6                    Italy               82.5
6     7                   Norway               82.5
7     8                  Iceland               82.5
8     9               Luxembourg               82.3
9    10                   France               82.3
10   11                   Sweden               82.2
11   12                    Malta               81.8
12   13                  Finland               81.8
13   14                  Ireland               81.6
14   15              Netherlands               81.5
15   16                 Portugal               81.1
16   17                   Greece               81.0
17   18           United Kingdom               81.0
18   19                  Belgium               81.0
19   20                  Austria               80.9
20   21                 Slovenia               80.8
21   22                  Denmark               80.7
22   23                  Germany               80.6
23   24                   Cyprus               80.5
24   25                  Albania               78.3
25   26           Czech Republic               78.3
26   27                  Croatia               78.0
27   28                  Estonia               77.7
28   29                   Poland               77.5
29   30               Montenegro               77.1
30   31   Bosnia and Herzegovina               76.9
31   32                 Slovakia               76.6
32   33                   Turkey               75.8
33   34          North Macedonia               75.7
34   35                  Hungary               75.6
35   36                   Serbia               75.2
36   37                  Romania               75.0
37   38                 Bulgaria               74.6
38   39                   Latvia               74.5
39   40                Lithuania               74.3
40   41                  Belarus               73.8
41   42               Kazakhstan               72.3
42   43                  Moldova               71.6
43   44                   Russia               71.6
44   45                  Ukraine               71.5

### ejemplo wikipedia 2

In [109]:
url='https://es.wikipedia.org/wiki/Juegos_Ol%C3%ADmpicos_de_Barcelona_1992'
res=requests.get(url)

In [111]:
data=res.text
soup=bs(data, 'html.parser')
#soup

In [117]:
tables=soup.find_all('table')
ultima=tables[-1]
#ultima

In [118]:
elem=ultima.find_all('a')[0]
elem

In [119]:
elem.text  # contenido de la caja, en este caso texto

'Control de autoridades'

In [126]:
print(elem.contents)  # contenido comom lista

['Control de autoridades']

In [123]:
elem.attrs  # sticker en la tapa de la caja

{'href': '/wiki/Ayuda:Control_de_autoridades',
 'title': 'Ayuda:Control de autoridades'}

In [127]:
elem.attrs['href']

'/wiki/Ayuda:Control_de_autoridades'

In [129]:
medallero=soup.find_all('table')[-4]
#medallero

In [130]:
med_paises=[]

for f in medallero.find_all('tr'):  # lista de filas de la tabla
    fila=[e for e in f.find_all('td')]  # elementos dentro de la fila
    if len(fila)>0:
        pais={'nombre': fila[1].find('a').text.strip(),
              'oros':int(fila[2].text),
              'platas':int(fila[3].text),
              'bronces':int(fila[4].text),}
        med_paises.append(pais)
        
med_paises

[{'nombre': 'Equipo Unificado', 'oros': 45, 'platas': 38, 'bronces': 29},
 {'nombre': 'Estados Unidos', 'oros': 37, 'platas': 34, 'bronces': 37},
 {'nombre': 'Alemania', 'oros': 33, 'platas': 21, 'bronces': 28},
 {'nombre': 'China', 'oros': 16, 'platas': 22, 'bronces': 16},
 {'nombre': 'Cuba', 'oros': 14, 'platas': 6, 'bronces': 11},
 {'nombre': 'España', 'oros': 13, 'platas': 7, 'bronces': 2},
 {'nombre': 'Corea del Sur', 'oros': 12, 'platas': 5, 'bronces': 12},
 {'nombre': 'Hungría', 'oros': 11, 'platas': 12, 'bronces': 7},
 {'nombre': 'Francia', 'oros': 8, 'platas': 5, 'bronces': 16},
 {'nombre': 'Australia', 'oros': 7, 'platas': 9, 'bronces': 11}]

In [132]:
df=pd.DataFrame(med_paises)
df

             nombre  oros  platas  bronces
0  Equipo Unificado    45      38       29
1    Estados Unidos    37      34       37
2          Alemania    33      21       28
3             China    16      22       16
4              Cuba    14       6       11
5            España    13       7        2
6     Corea del Sur    12       5       12
7           Hungría    11      12        7
8           Francia     8       5       16
9         Australia     7       9       11

In [134]:
df.oros.sum()

196

In [147]:
medallero.find_all('tr')[1].find_all('td')[1].find('a').text.strip()

'Equipo Unificado'

### ejemplo wikipedia 3